@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-background-dark;
  @apply text-white;
}

header {
  .token.function {
    @apply text-accent;
  }
}

li.bullet:before {
  content: '\01F5A4';
  font-size: 0.75rem;
}

.content:before {
  content: '-';
  font-weight: bold;
  margin-right: 5px;
  @apply text-secondary;
}

.wavy-underline {
  line-height: 1.5;
  text-decoration-line: underline;
  text-decoration-color: theme(textColor.secondary);
  text-decoration-style: wavy;
}

mark {
  display: inline-block;
  line-height: 0rem;
  padding-bottom: 0.65rem;
  @apply bg-accent;
}

a:not(.nav) {
  @apply font-bold;

  &:visited {
    @apply text-secondary;
  }

  &:hover,
  &:active,
  &:focus {
    @apply bg-accent;
    @apply text-white;
  }
}
